.login-container {
  width: 100%;
  height: 100vh;
  background: #51a7f3bd;
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 100%;
    text-align: center;
    .login-form {
      width: 500px;
      background: #fff;
      display: inline-block;
      border-radius: 5px;
      overflow: hidden;
      .body-form {
        text-align: center;
        padding: 20px 40px;
        box-sizing: border-box;
        img {
          width: 100%;
        }
        .form-block {
          width: 100%;
          display: flex;
          input {
            width: 100%;
            border: 1px solid #879eb5;
            margin: 15px 0;
            height: 40px;
            padding: 0 10px;
            border-radius: 3px;
            font-size: 14px;
          }
        }
        .help-text {
          text-align: left;
          color: chocolate;
          font-size: 14px;
        }
      }
      .footer-form {
        padding: 10px 40px 50px;
        button {
          display: flex;
          justify-content: center;
          position: relative;
          width: 100%;
          background: #071c67;
          color: #fff;
          font-size: 17px;
          border: 0;
          padding: 10px 0;
          border-radius: 3px;
          cursor: pointer;
          text-transform: uppercase;
          &:hover {
            background: #2e79c5;
          }
          &:disabled {
            background-color: #2e79c5;
            pointer-events: none;
          }
          i {
            position: absolute;
            left: 10px;
          }
        }
      }
    }
  }
}