.navigation {
  width: 100%;
  height: 45px;
  background-color: #3c8dbc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .left-group {
    .profile {
      position: relative;
      margin-right: 20px;
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 50%;
      border: none;
      outline: 0;
      box-sizing: border-box;
      font-size: 20px;
      i {
        color: #3c8dbc;
      }
      &:hover {
        background-color: #3c8dbc;
        border: 1px solid #fff;
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
    .dropdown {
      position: absolute;
      top: 53px;
      right: 8px;
      z-index: 1;
      border-top: 1px solid #879eb5;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
      box-shadow: 0 2px 10px rgba(0,0,0,.2);
      &::before {
        content: "";
        border-color: transparent;
        border-style: dashed dashed solid;
        border-width: 0 8.5px 8.5px;
        display: block;
        position: absolute;
        top: -8.5px;
        right: 20px;
        z-index: 1;
        height: 0;
        width: 0;
        -webkit-animation: gb__a .2s;
        animation: gb__a .2s;
        border-bottom-color: #3c8dbc;
      }
      .menues {
        list-style: none;
        margin: unset;
        padding: unset;
        .menu-item {
          padding: 10px;
          border-top: 1px solid #879eb5;
          background-color: #2f7eab;
          &:hover {
            background-color: #2175a5;
          }
          button {
            cursor: pointer;
            border: none;
            background-color: unset;
            display: flex;
            color: #fff;
            outline: 0;
            .avatar {
              font-size: 20px;
              padding: 6px 12px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              background-color: #879eb5;
            }
            .account-detail {
              line-height: 37px;
              margin-left: 15px;
            }
          }
          &:first-child {
            border-top: none;
            background-color: #3c8dbc;
            button {
              pointer-events: none;
              .avatar {
                padding: 3px 12px;
                font-size: 40px;
              }
              .account-detail {
                line-height: 53px;
              }
            }
          }
          &:last-child {
            display: flex;
            justify-content: center;
            button {
              .icon-logout {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}