body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  .container {
    width: 100%;
    height: calc(100% - 75px);
    color: #484848;
  }
  .share-container {
    width: 100%;
    height: calc(100vh - 30px);
  }
}