.wrapper {
  height: calc(100vh - 75px);
  width: inherit;
  font-size: 13px;
  .flex-container {
    width: 100%;
    height: inherit;
    display: flex;
    .left-panel {
      flex: 320px;
      height: inherit;
      width: initial;
      background-color: gainsboro;
      .uploadable-container {
        height: inherit;
        width: 320px;
        .form-section {
          width: 94%;
          margin: 0 auto;
          height: inherit;
          overflow: hidden;
          .title {
            color: #000;
            margin: 17px 0;
          }
          &.disappear {
            animation: disappear 1s forwards;
            -webkit-transition: transform, 2s ease-in-out;
            -moz-transition: transform, 2s ease-in-out;
            -ms-transition: transform, 2s ease-in-out;
            -o-transition: transform, 2s ease-in-out;
            transition: transform, 2s ease-in-out;
          }
          &.appear {
            animation: appear 1s forwards;
            -webkit-transition: transform, 2s ease-in-out;
            -moz-transition: transform, 2s ease-in-out;
            -ms-transition: transform, 2s ease-in-out;
            -o-transition: transform, 2s ease-in-out;
            transition: transform, 2s ease-in-out;
          }
          .form-body {
            display: flex;
            flex-direction: column;
            height: calc(100% - 50px);
            position: relative;
            margin-top: 5px;
            .image-processing {
              position: absolute;
              top: calc((100% - 50px) / 2);
              left: calc((100% - 50px) / 2);
            }
            form {
              display: flex;
              border: 1px solid #ACADAD;
              background-color: #fff;
              width: 100%;
              flex: calc(100% - 60px);
              .file-label {
                display: grid;
                width: 100%;
                position: relative;
                height: inherit;
                input {
                  position: absolute;
                  margin: 0;
                  padding: 0;
                  width: 100%;
                  height: 100%;
                  outline: none;
                  opacity: 0;
                }
                .selected-files {
                  .file-count {
                    line-height: unset;
                    font-size: 16px;
                    color: #3c8dbc;
                  }
                  .file-list {
                    margin: unset;
                    padding-left: 20px;
                    li {
                      font-size: 15px;
                      margin-top: 10px;
                    }
                  }
                }
                .box-instruction, .selected-files {
                  display: flex;
                  flex-wrap: nowrap;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  overflow: hidden;
                  .upload-picture {
                    display: grid;
                    margin-top: 10px;
                    color: #ACADAD;
                    .fa-cloud-upload-alt {
                      font-size: 40px;
                      color: #3c8dbc;
                    }
                  }
                  p {
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                    color: #ACADAD;
                    line-height: 3.5;
                  }
                  .select-button {
                    margin: 10px auto;
                    border: 1px solid #3c8dbc;
                    color: #3c8dbc;
                    border-radius: 30px;
                    cursor: pointer;
                    padding: 7px 22px;
                    z-index: 1;
                    &:hover{
                      background-color:#3c8dbc;
                      color: #ffffff !important;
                    }
                  }
                }
              }
              .select-box {
                margin-top: 20px;
                &:before {
                  top: 50%;
                  right: 10px;
                }
                .select {
                  height: 32px;
                  padding: 5px 10px;
                }
              }
            }
            .form-control {
              flex: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              .upload-btn {
                cursor: pointer;
                padding: 10px 50px;
                border: 1px solid grey;
                border-radius: 50px;
                color: #000;
                outline: 0;
                text-transform: uppercase;
                background-color: #3c8dbc;
                color: #fff;
                &:hover {
                  border-color: #fff;
                  opacity: .7;
                }
                &:disabled {
                  background-color: rgba(0, 0, 0, .3);
                  pointer-events: none;
                  opacity: .6;
                }
              }
            }
          }
        }
        .progress-section {
          width: 94%;
          margin: 0 auto;
          height: inherit;
          min-height: calc(100vh - 240px);
          opacity: 0;
          .title {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            font-size: 15px;
            overflow: hidden;
            .total {
              margin: 17px 0;
              color: #000;
              .total-number {
                color: #0076E8;
              }
              .total-images {
                .selected-number {
                  color: #0076E8;
                }
              }
            }
          }
          &.fly-up {
            opacity: 1;
            -webkit-transition: opacity, 4s ease-in-out;
            -moz-transition: opacity, 4s ease-in-out;
            -ms-transition: opacity, 4s ease-in-out;
            -o-transition: opacity, 4s ease-in-out;
            transition: opacity, 4s ease-in-out;
            animation: flyup 1s forwards;
          }
          &.fly-down {
            opacity: 1;
            -webkit-transition: opacity, 4s ease-in-out;
            -moz-transition: opacity, 4s ease-in-out;
            -ms-transition: opacity, 4s ease-in-out;
            -o-transition: opacity, 4s ease-in-out;
            transition: opacity, 4s ease-in-out;
            animation: flydown 1s forwards;
          }
          .uploading-progress {
            height: calc(100% - 56px - 15px);
            border: 1px solid #ACADAD;
            overflow: hidden;
            margin: auto;
            .progress-bar-container {
              max-height: calc(100% - 5px);
              overflow-y: auto;
              width: 98%;
              margin: auto;
            }
            .progress-bar-item {
              display: flex;
              flex-wrap: nowrap;
              align-content: center;
              margin: 15px auto;
              .item-left {
                flex: 20px;
                i {
                  font-size: 20px;
                  cursor: pointer;
                  color: #B3B3B3;
                }
              }
              .item-center {
                flex: calc(100% - 50px);
                label {
                  display: flex;
                  justify-content: space-between;
                }
                .linear-progress-container {
                  margin-top: 5px;
                  width: 100%;
                  height: 5px;
                  background-color: rgba(255, 255, 255, .8);
                  .linear-progress {
                    background-color: #0076E8;
                  }
                }
                .upload-error {
                  font-size: 12px;
                  color: #f44336;
                }
              }
              .item-right {
                display: flex;
                flex: 30px;
                justify-content: center;
                align-items: flex-end;
                justify-self: end;
                i {
                  color: #0076E8;
                  font-size: 16px;
                  &.error {
                    color: #B3B3B3;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
    .main-panel {
      flex: calc(100% - 320px);
      position: relative;
      background-color: #ecf0f5;
      .sub-head {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px;
        .left-nav {
          button {
            padding: 9px 10px;
            background-color: #349AD6;
            border: none;
            color: #fff;
            outline: 0;
            cursor: pointer;
            &:hover {
              background-color: #2a5c91;
            }
            i.fas{
              margin-right: 5px;
            }
            &.btn-share {
              margin-left: 10px;
            }
            &:disabled {
              opacity: .7;
              pointer-events: none;
              &:hover {
                background-color: #349AD6;
              }
            }
          }
        }
        .right-nav {
          .breadcrumbs {
            margin: unset;
            list-style: none;
            li {
              display: inline-block;
              margin-left: 20px;
              font-size: 14px;
              &:after {
                content: '\f105';
                font-family: "fontello";
                padding-left: 20px;
              }
              &:last-child {
                &:after {
                  content: '';
                  padding: unset;
                }
              }
              a {
                cursor: pointer;
                color: #3c8dbc;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      .file-layout {
        height: calc(100% - 50px);
        padding: 3px 20px;
        .loading-file-list {
          text-align: center;
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
        }
        .icon-spin5 {
          font-size: 30px;
          color: #009688;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        table {
          border: none;
          border-collapse: collapse;
          width: 100%;
          tr {
            box-sizing: inherit;

            &:nth-child(even) {
              //background-color: #eee;
            }

            &:nth-child(odd) {
              background-color: #fff;
            }

            &.accordion {
              td {
                padding: 0;
                .collapse {
                  max-height: 0;
                  transition: max-height 0.15s ease-out;
                  overflow: hidden;
                  display: flex;
                  flex-direction: column;
                  .form-group {
                    padding: 10px 15px;
                    .fa-folder-open {
                      margin-right: 10px;
                    }
                    .folder-name {
                      padding: 5px;
                      width: 250px;
                    }
                    .help-text {
                      margin-left: 27px;
                      color: chocolate;
                      font-size: 12px;
                    }
                  }
                  .button-group {
                    padding: 0 0 10px 42px;
                    button {
                      cursor: pointer;
                      padding: 5px 7px;
                      margin-right: 5px;
                      border: 1px solid #3c8dbc;
                      background-color: transparent;
                      color: #484848;
                      outline: 0;
                      &:hover {
                        color: #fff;
                        background-color: #3c8dbc;
                      }
                      &:disabled {
                        cursor: not-allowed;
                        pointer-events: none;
                        opacity: .6;
                      }
                    }
                  }
                  &.collapsed {
                    max-height: 180px;
                    transition: max-height 0.25s ease-in;
                  }
                }
              }
            }
            th, td {
              border: none;
              border-collapse: collapse;
              padding: 10px;
              a {
                color: #217cb3;
                text-decoration: none;
              }
            }
            th {
              color: #484848;
              font-size: 16px;
              font-weight: bold;
              border-bottom: 2px solid #DDDDDD;
            }
            td {
              font-size: 15px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              a {
                cursor: pointer;
                .fa-folder-open {
                  margin-right: 5px;
                }
                &:hover {
                  text-decoration: underline;
                  .fa-folder-open {
                    text-decoration: none;
                  }
                }
              }
              &.td-name {
                max-width: 350px;
              }
              &.td-size {
                max-width: 150px;
                text-align: center;
              }
              &.td-path {
                max-width: 300px;
              }
              &.td-last-modified {
                text-align: center;
                max-width: 200px;
              }
              &.td-action {
                cursor: pointer;
                text-align: center;
                button {
                  border: none;
                  background-color: unset;
                }
              }
            }
          }
        }
        .pagination {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          list-style: none;
          border-radius: 3px;
          li {
            border: 1px solid #dddddd;
            cursor: pointer;
            border-left: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #217cb3;
            font-size: 15px;
            &.active {
              background: #217cb3;
              color: #fff;
              border-color: #217cb3;
              a {
                color: #fff;
              }
            }
            &.disabled {
              //pointer-events: none;
              cursor: not-allowed;
              a {
                cursor: not-allowed;
              }
            }
            &:first-child {
              border-left: 1px solid #dddddd;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
            &:last-child {
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
            }
            a {
              color: #217cb3;
              text-decoration: none;
            }
          }
        }
      }
    }
    .modal-share {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1300;
      position: fixed;
      display: none;
      transition: display 2s ease-out;
      justify-content: center;
      align-items: center;
      &.collapsedModal {
        display: flex;
        transition: display 0.15s ease-out;
        .modal-contain {
          display: inline-block;
          transition: display 0.15s ease-out;
          animation: flydown 0.4s forwards;
        }
      }
      .bg-transparent {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        position: fixed;
        touch-action: none;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .modal-contain {
        width: 500px;
        min-height: 250px;
        background: #ffffff;
        padding: 20px;
        border-radius: 3px;
        display: none;
        transition: display 0.15s ease-out;
        animation: flyup 1s forwards;
        .modal-header {
          width: 100%;
          display: inline-block;
          margin-bottom: 40px;
          .header-title {
            float: left;
            .title-icon {
              font-size: 20px;
              background: #eff2f8;
              border-radius: 100%;
              width: 40px;
              height: 40px;
              display: inline-block;
              text-align: center;
              line-height: 40px;
              i {
                font-size: 18px;
                color: #03A9F4;
              }
            }
            .title-text {
              font-size: 25px;
              color: #3ba9f4;
              margin-left: 15px;
            }
          }
          i.fa-times {
            float: right;
            color: #a2a2a2;
            font-size: 20px;
            cursor: pointer;
          }
        }
        .modal-body {
          font-size: 16px;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: inherit;
          .label-url {
            width: 100%;
            margin-bottom: 20px;
            display: inline-block;
          }
          .input-text {
            border-radius: 3px;
            border: 1px solid #dddddd;
            height: 34px;
            float: left;
            box-sizing: border-box;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}

@keyframes disappear {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-320px);
  }
}

@keyframes appear {
  0% {
    transform: translateX(-320px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes flyup{
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(calc(-100%));
  }
}

@keyframes flydown{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0px);
  }
}