.share-wrapper {
  .flex-container {
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    .navigation {
      display: flex;
      justify-content: left;
      color: #fff;
      font-size: 16px;
      .breadcrumbs {
        list-style: none;
        padding: unset;
        li {
          display: inline-block;
          margin-left: 20px;
          &:after {
            content: '\f105';
            font-family: "fontello";
            padding-left: 20px;
          }
          &:last-child {
            &:after {
              content: '';
              padding: unset;
            }
          }
          a {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .table-container {
      flex: calc(100% - 45px);
      margin: 20px;
      position: relative;
      table {
        width: 100%;
        color: #484848;
        thead {
          tr {
            background-color: #59BEDF;
            color: #fff;
            &:hover {
              background-color: #59BEDF;
            }
          }
        }
        tr {
          &:hover {
            background-color:#f5f5f5;
          }
          &:nth-child(even) {
            background-color: #f2f2f2;
          }
          td {
            &:nth-child(2) {
              text-align: center;
            }
            &:nth-child(3) {
              max-width: 400px;
              overflow: hidden;
            }
            a {
              color: #484848;
              cursor: pointer;
              text-decoration: none;
              .fa-folder-open {
                margin-right: 5px;
              }
              &:hover {
                text-decoration: underline;
                .fa-folder-open {
                  text-decoration: none;
                }
              }
            }
          }
        }
        th, td {
          padding: 8px;
          border-bottom: 1px solid #ddd;
          box-sizing: border-box;
        }
      }
      .pagination {
        list-style: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        li {
          display: inline-block;
          margin: 0 5px;
          a {
            text-decoration: none;
            color: #484848;
            padding: 5px;
          }
          &.active {
            a {
              color: #3c8dbc;
            }
          }
          &.disabled {
            cursor: not-allowed;
            a {
              cursor: not-allowed;
            }
            &:hover {
              a {
                color: #484848;
              }
            }
          }
          &:hover {
            a {
              color: #3c8dbc;
            }
          }
        }
      }
    }
  }
}